*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    list-style: nene;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
    /* display: block; */
}

h1{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
    height: 100%;
}
.container {
    /* text-align: center; */
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}


.header{
    width: 100%;
    height: 50px;
    background-color: rgba(13, 185, 228, 0.664);
   
}
.logo{
  display: inline-block;
    width:35%;  
}
.logo_img {
    display: block;
    width: 18%;
    height: 50px;
    /* background-color: black; */
    float: left;
    margin-right: 15px;
}

.logo_text {
    float: left;
    width: 60%;
}
.navbar{
    width: 90%;
    margin: 0 auto;
}
.logo h2{ 
     padding-top: 10px;
     letter-spacing: 1.5px;   
}
.logo h2 a{
 transition: 0.3s;
}
.logo:hover  h2 a{
    color: rgba(0, 0, 0, 0.342);
}
.header ul{
    display: inline-block;
    float: right;
    margin-right: 50px;
}
.header ul li{
    display: inline-block;
    margin: -2.3px;
}
.header ul li a{
    text-align: center;
    border-radius: 15px;
    display: block;
    padding: 18px 15px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    transition:0.3s; 
}
.header ul li a:hover{
    color:rgb(238, 235, 235);
    background-color: rgb(129, 120, 120);
    
}
.main{
    height: 70%;
    width: 100%;
    background-color: blueviolet;
}
.home{
    background-color: #1b1b1b;
    width: 100%;
    color: white;
    height: 100%;
    
}
.container1{
    width: 80%;
    margin: 0 auto;
    padding-top: 65px;
}

.text_container{
    display: inline-block;
    width: 40%;
    height: 450px;
}
.heading h1{
    font-size: 35px;
    font-weight: 800;
    
}
.heading {
    margin-bottom: 30px;
}

.paragraph p{
    text-align: justify;
    line-height: 25px;
    margin: 25px 0;
    width: 90%;
    
}
.img_container{
    float: right;
    display: inline-block;
    width: 60%;
    height: 450px;
}
img{
    float: right;
}
.aside{
    width: 20%;
    height: 100%;
    background-color: rgba(22, 24, 26, 0.253);
    float: left;
    /* display: block; */
}
.main_container{
    width: 80%;
    height: 100%;
    background-color: rgba(53, 36, 58, 0.76);
    float: left;
}
.footer{
    text-align: center;
    width: 100%;
    height: 28.5%;
    background-color: rgb(133, 107, 226);
}
.claints{
            
    width: 90%;
    margin: 0 auto;
  
 }
 .claints ul{
     width: 25%;
     list-style: none;
     margin: 20px 0;
     float: left;
     /* background-color: blue; */
 }

 ul li a{
    display:inline-block;
    padding: 10px 20px;
    width: 100%;
    font-size: 18px;
     }
 .aside ul li a:hover{
     color: brown;
     background-color: white;
 }
 .claints ul li a:hover{
    color: brown;
    /* background-color: white; */
}