*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box2{
    width: 400px;
    height: 400px;
    /* background-color: red; */
    border: 4px solid black;
    padding: 10px;
    font-size: 20px;
    margin: 25% auto;

}
.box{
    width: 100px;
    /* height: 50px; */
    /* background-color: red; */
    /* border: 4px solid black; */
    padding: 10px;
    font-size: 20px;
    margin: 25% auto;
    position: relative;
    transform: rotate(360deg);
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: cubic-bezier(1,-0.6, 0.21, 1.61);
    /* transform: rotate(45deg); */
    /* display: none; */
    /* left: -300px; */
    /* top:0px; */
}
.aa{
    
}
.box2:hover .box{
    /* background-color: aqua; */
    transform: rotate(0deg);
    /* display: block; */
   /* left: 300px; */
   top: 0;
}
